loaddefs.el*
backups/*
*elc
places
.DS_Store

/#topfunky.el#
/url/cookies
/#custom.el#
/auto-save-list/.saves-1547-Odyssey.local~
/auto-save-list/.saves-53941-Odyssey.local~
/auto-save-list/.saves-4899-Odyssey.local~
